
.inputForm {
  /* Цей контейнер містиме у собі флекбокси */
  display: flex;
  /* Ці флексбокси будуть розміщені у ряд (row); в разі потреби
  елементи будуть розміщені на ряді нижче (wrap)*/
  flex-flow: row wrap;
  /* Місце між флекбоксами буде розподілене рівномірно */
  justify-content: space-around;
  /* Цей контейнер не є списком */
  list-style: none;
}